## OS index / metadata
.DS_Store
Thumbs.db

## IDE: vscode
.vscode

## secret / credential
credentials.json

## Node.JS
db.json
debug.log
node_modules/
npm-debug.log

.deploy/
.deploy_git/

## Java
*.jar
*.class
target/
current.log
*.log

## Gradle
.gradle
bin/
build/
gradle

## docker data
.docker-data