<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 設定 log 檔案儲存路徑 -->
    <property name="LOG_PATH" value="./logs" />
    <property name="APP_NAME" value="asimov.api-server" />

    <!-- not work -->
    <!-- <include resource="logback-appenders.xml"/> -->
    
    <!-- CacheAccessLog Logger -->
    <logger name="com.gtcafe.asimov.infrastructure.cache.CacheRepository" level="INFO" additivity="false">
        <appender-ref ref="CacheAccessLogJsonAppender" />
        <!-- <appender-ref ref="CacheAccessLogConsoleAppender" /> -->
    </logger>

    <!-- HttpAccessLog Logger -->
    <logger name="com.gtcafe.asimov.framework.filter.GlobalHttpRequestFilter" level="INFO" additivity="false">
        <appender-ref ref="HttpAccessLogJsonAppender" />
        <!-- <appender-ref ref="HttpAccessLogConsoleAppender" /> -->
    </logger>

    <!-- QueueProcuder Logger -->
    <logger name="com.gtcafe.asimov.infrastructure.queue.Producer" level="INFO" additivity="false">
        <appender-ref ref="QueueProcuderJsonAppender" />
    </logger>

    <!-- Consumer Logger -->
    <logger name="com.gtcafe.asimov.system.hello.consumer.HelloConsumer" level="INFO" additivity="false">
        <appender-ref ref="QueueConsumerJsonAppender" />
    </logger>

    <!-- 根 logger 設定 -->
    <root level="INFO">
        <appender-ref ref="StdoutConsoleAppender" />
        <appender-ref ref="StdoutFileAppender" />
    </root>

    <!-- appender -->
    <appender name="StdoutConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %highlight(%-5level) %green([%thread]) %logger{36}#%M\(%line\) %message%n</pattern>
        </encoder>
    </appender>

    <appender name="StdoutFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/stdout.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/stdout-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS} %highlight(%-5level) %green([%thread]) %logger{20}:%line %message%n</pattern>
        </encoder>
    </appender>

    <!-- InfraCache:JSON Appender -->
    <appender name="CacheAccessLogJsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/infra.cache.redis.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/infra.cache.redis.%d{yyyy-MM-dd}.log.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "fb_log-type": "infra.cache.redis", "fb_app-name": "${APP_NAME}", "class": "%logger", "thread": "%thread", "level": "%level", "Protocol": "%X{Protocol}", "uri": "%X{RequestURI}", "method": "%X{Method}", "X-Request-Id": "%X{X-Request-Id}", "startTime": %X{StartTime}, "endTime": %X{EndTime}, "duration": %X{Duration}, "cache": { "cacheKey": "%X{CacheKey}", "action": "%X{CacheAction}", "method": "%X{CacheMethod}", "timeout": %X{CacheTimeout} } }%n</pattern>
        </encoder>
    </appender>


    <!-- HttpAccessLog:JSON Appender -->
    <appender name="HttpAccessLogJsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/http-access-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/http-access-log.%d{yyyy-MM-dd}.log.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "fb_log-type": "access-log", "fb_app-name": "${APP_NAME}", "class": "%logger", "thread": "%thread", "level": "%level", "Protocol": "%X{Protocol}", "uri": "%X{RequestURI}", "method": "%X{Method}", "X-Request-Id": "%X{X-Request-Id}", "startTime": %X{StartTime}, "endTime": %X{EndTime}, "duration": %X{Duration} }%n</pattern>
        </encoder>
    </appender>

    <appender name="HttpAccessLogConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "fb_log-type": "access-log", "fb_app-name": "${APP_NAME}", "class": "%logger", "thread": "%thread", "level": "%level", "Protocol": "%X{Protocol}", "uri": "%X{RequestURI}", "method": "%X{Method}", "X-Request-Id": "%X{X-Request-Id}", "startTime": %X{StartTime}, "endTime": %X{EndTime}, "duration": %X{Duration} }%n</pattern>
        </encoder>
    </appender>

    <!-- QueueProcuder:JSON Appender -->
    <appender name="QueueProcuderJsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/queue-producer-access-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/queue-producer-access-log.%d{yyyy-MM-dd}.log.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "fb_log-type": "queue-producer-log", "fb_app-name": "${APP_NAME}", "class": "%logger", "thread": "%thread", "level": "%level",  "vendor": "%X{QueueVendor}", "queueName": "%X{QueueName}", "exchangeName": "%X{ExchangeName}", "routingKey": "%X{RoutingKey}", "queueAction": "%X{QueueAction}" }%n</pattern>
        </encoder>
    </appender>

    <!-- QueueConsumer:JSON Appender -->
    <appender name="QueueConsumerJsonAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/queue-consumer-access-log.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/queue-consumer-access-log.%d{yyyy-MM-dd}.log.json</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>{ "@timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}", "fb_log-type": "queue-consumer-log", "fb_app-name": "${APP_NAME}", "class": "%logger", "thread": "%thread", "level": "%level",  "vendor": "%X{QueueVendor}", "queueName": "%X{QueueName}", "exchangeName": "%X{ExchangeName}", "routingKey": "%X{RoutingKey}", "queueAction": "%X{QueueAction}" }%n</pattern>
        </encoder>
    </appender>


</configuration>
